@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
:host ::ng-deep {
  .p-toast{
    z-index:1500 !important;
  }
  .p-datatable .p-datatable-tbody > tr > td{
    padding: 0.25rem;
  }
}
