<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>User Creation</nb-card-header>
        <nb-card-body>
          <form class="form-inline">
            <input type="text" nbInput fullWidth placeholder="Entity Name (Company Name)">
            <input type="text" nbInput fullWidth placeholder="Display Name:Profile Name">
            <button type="submit" nbButton status="primary">Submit</button>
          </form>
          <ngx-shared-grid></ngx-shared-grid>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
